# vendor dirs
vendor

# composer lock files
composer.lock

# hidev internals
.hidev/composer.json
.hidev/composer.lock
.hidev/vendor

# IDE & OS files
.*.swp
.idea
nbproject
.buildpath
.project
.settings
Thumbs.db
.DS_Store
